@*@using Microsoft.AspNetCore.Mvc.Razor*@
@model IEnumerable<Cooperchip.ITDeveloper.Domain.Entities.Triagem>


@if (Model.Count() > 0)
{

    var auxCount = "";
    var k = 1;


    @foreach (var item in Model)
    {

        if (k < 10)
        {
            auxCount = "00" + k;
        }
        else if (k < 100)
        {
            auxCount = "0" + k;
        }
        else
        {
            auxCount = k.ToString();
        }


        <li class="unread" style="margin-top: 5px;">
            <div class="panel-tag" style="padding:2px 3px 3px 6px; margin-bottom: 3px;">
                <a asp-controller="Triagem" asp-action="Details" asp-route-id="@item.Id" class="d-flex align-items-center">
                    <span>
                        @*<span class="profile-image rounded-circle d-inline-block" style="background-image:url('/img/demo/avatars/avatar-a.png')"></span>*@

                        <div style="width: 48px; height: 48px;
                                color: white;
                                padding-left: 11px;
                                padding-top: 15px;
                                background-image: url('/img/avatars/avatar_base_circulo_red.png');">

                            <strong style="padding: 0 auto;">@auxCount</strong>
                        </div>

                    </span>
                    <span class="d-flex flex-column flex-1 ml-1">
                        <span class="name">@item.NomePaciente</span>
                        <span class="msg-a fs-sm">@item.Mensagem</span>
                        <span class="fs-nano text-muted mt-1">@item.DataNotificacao</span>
                    </span>
                </a>
            </div>
        </li>


        k++;

    }
}
else
{
    <li>
        <a href="#"><i class="l-basic-life-buoy"></i> Nenhuma pendência para a Triagem.</a>
    </li>
}


