@*@using Microsoft.AspNetCore.Mvc.Razor*@
@model IEnumerable<Cooperchip.ITDeveloper.Domain.Entities.ChamadaMedica>



<ul class="list-group recent-comments" style="margin-top: 8px;">

    @{
        var auxId = "";
        foreach (var item in Model)
        {

            if (item.ChamadaMedicoId < 10)
            {
                auxId = "00" + item.ChamadaMedicoId;
            }
            else if (item.ChamadaMedicoId < 100)
            {
                auxId = "0" + item.ChamadaMedicoId;
            }
            else
            {
                auxId = item.ChamadaMedicoId.ToString();
            }

            <li style="margin-top:3px;">
                <div class="panel-tag" style="padding:2px 3px 3px 6px; margin-bottom: 3px;">

                    <a href="#" class="d-flex align-items-center">
                        <span class="status status-success mr-2">

                            <span class="profile-image rounded-circle d-inline-block" style="background-image:url('/img/demo/avatars/avatar-h.png')"></span>


                            @*<div style="width: 48px; height: 48px;
                                                        color: white;
                                                        padding-left: 11px;
                                                        padding-top: 15px;
                                                        background-image: url('/img/avatars/avatar_base_circulo_red.png');">

                                    <strong style="padding: 0 auto;">@auxId</strong>
                                </div>*@

                        </span>
                        <span class="d-flex flex-column flex-1 ml-1">
                            <span class="name"> Dr(a). @item.Medico</span>
                            <span class="msg-a fs-sm">@item.Mensagem</span>
                            <span class="fs-nano text-muted mt-1">@item.DataChamada</span>
                        </span>
                    </a>

                    <button data-id="@item.ChamadaMedicoId" data-toggle="tooltip" data-placement="bottom" title="Atender Chamada Médica" data-original-title="Atender Chamada Médica" class="btn btn-link">Atender Chamada</button>
                </div>
            </li>


        }
    }

    <li class="list-group-item clearfix comment-success">
        <a href="#" class="view-all">
            @Html.ActionLink(" Carregar todas", "Index", "ChamadaMedica")
        </a>
    </li>

</ul>
