@model IEnumerable<Cooperchip.ITDeveloper.Application.ViewModels.TagsViewModel>

@{
    ViewData["Title"] = "Listagem de Tags";
}



@*<vc:cabecalho titulo="Cooperchip-Sys / Módulo Tags"
    subtitulo="Administração de Tags"></vc:cabecalho>*@


@{ ViewData["Title"] = "Lista de Tag";
    ViewData["PageName"] = "lista-de-tag";
    ViewData["Category1"] = "Blog";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Listagem de Tag";
    ViewData["PageDescription"] = "Exporte os dados para PDF, Excel e CSV sem qualquer complicação!"; }

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
}


<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Lista de Tags</h3>
    </div>

    <div class="panel panel-body">
        <p>
            <a asp-controller="Tags" asp-action="Create" class="btn btn-primary">Nova Tag</a>
        </p>


        <table id="dt-basic-tags" class="table table-bordered table-hover table-striped w-100 dt-basic-srmartadmin">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tag)
                    </th>

                    @*<th>
                            @Html.DisplayNameFor(model => model.Note)
                        </th>*@
                    <th>
                            @Html.DisplayNameFor(model => model.SourceAt)
                        </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tag)
                        </td>

                        @*<td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>*@
                        <td>
                                @Html.DisplayFor(modelItem => item.SourceAt)
                            </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author.Name)
                            @Html.DisplayFor(modelItem => item.Author.LastName)
                        </td>


                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pencil-square fa-2x" title="Editar Tag"></span> </a>
                            <a asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-search fa-2x" title="Detalhes de Tags"></span> </a>
                            <a asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash fa-2x" title="Excluir Tag"></span> </a>

                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


@section Scripts {

    <partial name="PartialViews/_ScriptDataTables" />
    @* .dt-basic-srmartadmin *@

}
