@*<vc:cabecalho titulo="Medical Management-Sys / Módulo Pacientes"
    subtitulo="Administração de Pacientes"></vc:cabecalho>*@

@model Cooperchip.ITDeveloper.Domain.Entities.Triagem


@{
    ViewData["Title"] = "Triagem de Paciente";
    ViewData["PageName"] = "notificacaonovoprontuario_triagem";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-plus-circle'></i>  Triagem de Paciente";
    ViewData["PageDescription"] = "";
    ViewData["Category1"] = "Triagem";
}

@*<vc:cabecalho titulo="Detalhes do Paciente" subtitulo="Paciente" ></vc:cabecalho>*@

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/page-invoice.css">
}
<div class="container">
    <div data-size="A4">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="fw-400 display-4 fw-350 color-primary-600 keep-print-font pt-4 l-h-n m-0">
                    @Model.NomePaciente
                </h3>
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 d-flex">
                <div class="table-responsive">
                    <table class="table table-clean table-sm align-self-end">

                        <tbody>
                            <tr>
                                <td><strong> @Html.DisplayNameFor(model => model.DataNotificacao)</strong></td>
                                <td><strong> @Html.DisplayFor(model => model.DataNotificacao)</strong></td>
                            </tr>
                            <tr>
                                <td><strong> Motivo do Atendimento</strong></td>
                                <td><strong> @Html.DisplayFor(model => model.Mensagem)</strong></td>
                            </tr>
                            <tr>
                                <td><strong> Código Paciente</strong></td>
                                <td><strong> @Html.DisplayFor(model => model.CodigoPaciente)</strong></td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <h4 class="py-5 text-primary">
                    <a class="btn btn-outline-info" asp-controller="Triagem" asp-action="Index">Encaminhar para Médico</a>
                    <a class="btn btn-outline-warning" asp-controller="Triagem" asp-action="Index">Sinais Vitais Alterados</a>
                    <a class="btn btn-outline-primary" asp-controller="Triagem" asp-action="Index">Saiu à Revelia</a>
                    <a class="btn btn-outline-danger" asp-controller="Triagem" asp-action="Index">Listagem</a>
                </h4>

            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {

}
