
@using Cooperchip.ITDeveloper.Domain.Entities.Helpers;
@model PagedList<Cooperchip.ITDeveloper.Domain.Entities.Cid>

@{
    ViewData["Title"] = "Medical Management Sys - Lista de CID com PagedList";
}

<div class="row" style="margin-top: 12px;">

    <div class="col-lg-12">
        <p>
            <button class="btn btn-default create" data-toggle="tooltip" data-placement="bottom" title="Adicionar uma nova CID" data-original-title="Adicionar uma nova CID">  <i class="glyphicon glyphicon-plus-sign"></i>  </button>
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-default" })
        </p>

        <div class="animated fadeInRightBig">
            <div class="panel panel-primary toggle">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-magic"></i> @ViewData["Title"]</h4>
                </div>

                <div class="row col-12">
                    <div class="form-group" style="margin: 15px 5px 2px 35px;">
                        <div class="pull-left">
                            @*Listando página @Model. de um total de @Model.TotalPages páginas em @Model.TotalResults Registros.*@
                        </div>
                    </div>
                </div>

                <div class="panel-body">

                    <form method="get" asp-controller="Cid" asp-action="CidsPaginada">
                        <div class="form-action no-color">
                            <p>
                                <input type="text" name="q" id="q" value="@ViewData["pesquisa"]" placeholder="Buscar por...">
                                <input type="submit" value="Buscar" class="btn btn-default"> | <a asp-controller="Cid" asp-action="ListaCidsPaginada" class="btn btn-default">Retornar à Lista Completa</a>
                            </p>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>








@section Scripts {

    <script src="~/bundle/dashboard.min.js"></script>

}