
@model Cooperchip.ITDeveloper.Application.ViewModels.PacienteViewModel

<tbody>
    @*<tr>
            <td>
                @Html.DisplayNameFor(model => model.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nome)
            </td>
        </tr>*@
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataNascimento)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.DataInternacao)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataInternacao)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Ativo)
        </td>
        <td>
            @Html.DisplayFor(model => model.Ativo)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Cpf)
        </td>
        <td>
            @Html.DisplayFor(model => model.Cpf)
        </td>
    </tr>
    <tr>
        <td>
            Tipo de Cliente
        </td>
        <td>
            @Html.DisplayFor(model => model.TipoDeCliente)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Sexo)
        </td>
        <td>
            @Html.DisplayFor(model => model.Sexo)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)
        </td>
        <td>
            @Html.DisplayFor(model => model.EstadoPaciente.Descricao)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Rg)
        </td>
        <td>
            @Html.DisplayFor(model => model.Rg)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.RgOrgao)
        </td>
        <td>
            @Html.DisplayFor(model => model.RgOrgao)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.RgDataEmissao)
        </td>
        <td>
            @Html.DisplayFor(model => model.RgDataEmissao)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Motivo)
        </td>
        <td>
            @Html.DisplayFor(model => model.Motivo)
        </td>
    </tr>

</tbody>
