
@model IEnumerable<Cooperchip.ITDeveloper.Application.ViewModels.PacienteViewModel>


@{
    ViewData["Title"] = "Listagem";
    ViewData["PageName"] = "lista-de-paciente";
    ViewData["Category1"] = "Paciente";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Listagem de Pacientes";
    ViewData["PageDescription"] = "Exporte os dados para PDF, Excel e CSV sem qualquer complicação!";
}

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <a asp-controller="Paciente" asp-action="Create"
                       class="btn btn-outline-primary btn-sm">Novo Paciente</a>&nbsp;&nbsp;

                    <button type="button" class="btn btn-outline-success btn-sm"
                            data-toggle="modal"
                            data-target=".default-example-modal-right-prontuario">
                        Prontuários
                    </button>&nbsp;&nbsp;

                    <button type="button" class="btn btn-outline-info btn-sm"
                            data-toggle="modal"
                            data-target=".default-example-modal-right-historico">
                        Histórico
                    </button>
                </h2>
                <div class="panel-toolbar">

                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip"
                            data-offset="0,10" data-original-title="Collapse"></button>

                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                            data-offset="0,10" data-original-title="Fullscreen"></button>

                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip"
                            data-offset="0,10" data-original-title="Close"></button>

                </div>
            </div>

            <div class="panel-container show">
                <div class="panel-content">

                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active p-3" data-toggle="tab" href="#tab_default-1" role="tab">
                                <i class="fal fa-table text-success"></i>
                                <span class="hidden-sm-down ml-1">Lista de Pacientes</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-3" data-toggle="tab" href="#tab_default-2" role="tab">
                                <i class="fal fa-cog text-info"></i>
                                <span class="hidden-sm-down ml-1">Triagem Inicial</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link p-3" data-toggle="tab" href="#tab_default-3" role="tab">
                                <i class="fal fa-analytics text-primary"></i>
                                <span class="hidden-sm-down ml-1">Evolução Médica</span>
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content pt-4">

                        <div class="tab-pane fade show active" id="tab_default-1" role="tabpanel">
                            <div class="row">
                                <div class="col-xl-12">
                                    <table id="dt-basic-example"
                                           class="table table-bordered table-hover table-striped w-100 dt-basic-srmartadmin">

                                        <thead class="bg-primary-600">
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                                                <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
                                                <th>@Html.DisplayNameFor(model => model.DataInternacao)</th>
                                                <th>Alegação do Paciente</th>
                                                <th>Tipo de Cliente</th>
                                                <th>@Html.DisplayNameFor(model => model.Sexo)</th>
                                                <th>@Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)</th>
                                                <th class="text-center">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.DataInternacao)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Motivo)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.TipoDeCliente)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.EstadoPaciente.Descricao)</td>

                                                    <td class="text-center">

                                                        <a asp-controller="Paciente" asp-action="Details"
                                                           asp-route-id="@item.Id" class="btn btn-outline-default"
                                                           data-toggle="tooltip" data-placement="bottom" title="Detalhes da Paciente"
                                                           data-original-title="Detalhes da Paciente"><i class="fa fa-eye"></i></a>

                                                        <a asp-controller="Paciente" asp-action="Edit"
                                                           asp-route-id="@item.Id" class="btn btn-outline-info" data-toggle="tooltip"
                                                           data-placement="bottom" title="Editar Paciente"
                                                           data-original-title="Editar Paciente">
                                                            <i class="fa fa-edit"></i>
                                                        </a>

                                                        <a asp-controller="Paciente" asp-action="Delete"
                                                           asp-route-id="@item.Id" class="btn btn-outline-light" data-toggle="tooltip"
                                                           data-placement="bottom" title="Excluir Paciente"
                                                           data-original-title="Excluir Paciente">
                                                            <i class="fa fa-trash"></i>
                                                        </a>

                                                        <a asp-action="ReportForEstadoPaciente"
                                                           asp-route-id="@item.EstadoPacienteId" class="btn btn-outline-success"
                                                           data-toggle="tooltip" data-placement="bottom"
                                                           title="Reportar Estado Paciente"
                                                           data-original-title="Reportar Estado Paciente">
                                                            <i class="fa fa-file"></i>
                                                        </a>

                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            @*<tr>
                                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                                    <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
                                    <th>@Html.DisplayNameFor(model => model.DataInternacao)</th>
                                    <th>Alegacao ao Atendente</th>
                                    <th>Origem do Paciente</th>
                                    <th>@Html.DisplayNameFor(model => model.Sexo)</th>
                                    <th>@Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)</th>
                                    <th class="text-center">Ação</th>
                            </tr>*@
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_default-2" role="tabpanel">
                            <div class="alert alert-info">
                                <strong>
                                    IE Support
                                </strong>
                                <br>
                                The latest update for Alt-Editor has dropped support for IE in general. We have included the latest version of Alt-editor (catered for SmartAdmin) inside <code>src/custom/plugins/datatables-alteditor/datatables-alteditor-latest.js</code> found only in the HTML flavor. You may switch to this latest version of Alt editor to gain access to the <strong>Support Modifiers</strong> below.
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Column option</th>
                                                <th>Accepted values</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><code>type</code></td>
                                                <td><code>"text" | "select" | "hidden" | ...</code></td>
                                                <td>Type of HTML input to be shown. The value <code>readonly</code> is accepted for backward compatibility, but deprecated.</td>
                                            </tr>
                                            <tr>
                                                <td><code>readonly</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Add <code>readonly</code> HTML attribute</td>
                                            </tr>
                                            <tr>
                                                <td><code>disabled</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Add <code>disabled</code> HTML attribute</td>
                                            </tr>
                                            <tr>
                                                <td><code>required</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Add <code>required</code> HTML attribute</td>
                                            </tr>
                                            <tr>
                                                <td><code>hoverMsg</code></td>
                                                <td><code>"some msg"</code></td>
                                                <td>The message will appear as a tooltip over the input field.</td>
                                            </tr>
                                            <tr>
                                                <td><code>unique</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Ensure that no two rows have the same value. The check is performed client side, not server side. Set HTML <code>"data-unique"</code> attribute. (Probably there's some issue with this).</td>
                                            </tr>
                                            <tr>
                                                <td><code>uniqueMsg</code></td>
                                                <td><code>"some msg"</code></td>
                                                <td>An error message that is displayed when the unique constraint is not respected. Set HTML <code>"data-uniqueMsg"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>special</code></td>
                                                <td><code>"any string"</code></td>
                                                <td>Set HTML <code>"data-special"</code> attribute (don't know what's that needed for).</td>
                                            </tr>
                                            <tr>
                                                <td><code>editorOnChange</code></td>
                                                <td>function</td>
                                                <td>Custom onchange function. It will take as arguments the jquery event and the altEditor object.</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="py-4"><strong>Options for columns with type <code>"text"</code>:</strong></td>
                                            </tr>
                                            <tr>
                                                <td><code>pattern</code></td>
                                                <td><code>r.e.</code></td>
                                                <td>The typed text will be matched against given regular expression, before submit.</td>
                                            </tr>
                                            <tr>
                                                <td><code>msg</code></td>
                                                <td><code>"some msg"</code></td>
                                                <td>An error message that is displayed in case pattern is not matched. Set HTML <code>"data-errorMsg"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>maxLength</code></td>
                                                <td><code>integer</code></td>
                                                <td>Set HTML <code>"maxlength"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>datepicker</code></td>
                                                <td><code>{}</code></td>
                                                <td>Enable a datepicker component. jQuery-UI plugin must be linked. More datepicker configuration options may be passed within the object.</td>
                                            </tr>
                                            <tr>
                                                <td><code>datetimepicker</code></td>
                                                <td><code>{}</code></td>
                                                <td>Enable a datetimepicker component. jQuery datetimepicker plugin must be linked. More datetimepicker configuration options may be passed within the object.</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="py-4"><strong>Options for columns with type <code>"select"</code>:</strong></td>
                                            </tr>
                                            <tr>
                                                <td><code>options</code></td>
                                                <td><code>["a", "b", "c"]</code>  or <code>{"a":"A", "b":"B", "c":"C"}</code></td>
                                                <td>The options that shall be presented.</td>
                                            </tr>
                                            <tr>
                                                <td><code>select2</code></td>
                                                <td><code>{}</code></td>
                                                <td>Enable a select2 component. Select2 jQuery plugin must be linked. More select2 configuration options may be passed within the object.</td>
                                            </tr>
                                            <tr>
                                                <td><code>multiple</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Set HTML <code>"multiple"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="py-4"><strong>Options for columns with type <code>"textarea"</code>:</strong></td>
                                            </tr>
                                            <tr>
                                                <td><code>rows</code></td>
                                                <td><code>integer</code></td>
                                                <td>Set HTML <code>"rows"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>cols</code></td>
                                                <td><code>integer</code></td>
                                                <td>Set HTML <code>"cols"</code> attribute.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab_default-3" role="tabpanel">
                            <div class="alert alert-info">
                                <strong>
                                    IE Support
                                </strong>
                                <br>
                                The latest update for Alt-Editor has dropped support for IE in general. We have included the latest version of Alt-editor (catered for SmartAdmin) inside <code>src/custom/plugins/datatables-alteditor/datatables-alteditor-latest.js</code> found only in the HTML flavor. You may switch to this latest version of Alt editor to gain access to the <strong>Support Modifiers</strong> below.
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Column option</th>
                                                <th>Accepted values</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><code>type</code></td>
                                                <td><code>"text" | "select" | "hidden" | ...</code></td>
                                                <td>Type of HTML input to be shown. The value <code>readonly</code> is accepted for backward compatibility, but deprecated.</td>
                                            </tr>
                                            <tr>
                                                <td><code>readonly</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Add <code>readonly</code> HTML attribute</td>
                                            </tr>
                                            <tr>
                                                <td><code>disabled</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Add <code>disabled</code> HTML attribute</td>
                                            </tr>
                                            <tr>
                                                <td><code>required</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Add <code>required</code> HTML attribute</td>
                                            </tr>
                                            <tr>
                                                <td><code>hoverMsg</code></td>
                                                <td><code>"some msg"</code></td>
                                                <td>The message will appear as a tooltip over the input field.</td>
                                            </tr>
                                            <tr>
                                                <td><code>unique</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Ensure that no two rows have the same value. The check is performed client side, not server side. Set HTML <code>"data-unique"</code> attribute. (Probably there's some issue with this).</td>
                                            </tr>
                                            <tr>
                                                <td><code>uniqueMsg</code></td>
                                                <td><code>"some msg"</code></td>
                                                <td>An error message that is displayed when the unique constraint is not respected. Set HTML <code>"data-uniqueMsg"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>special</code></td>
                                                <td><code>"any string"</code></td>
                                                <td>Set HTML <code>"data-special"</code> attribute (don't know what's that needed for).</td>
                                            </tr>
                                            <tr>
                                                <td><code>editorOnChange</code></td>
                                                <td>function</td>
                                                <td>Custom onchange function. It will take as arguments the jquery event and the altEditor object.</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="py-4"><strong>Options for columns with type <code>"text"</code>:</strong></td>
                                            </tr>
                                            <tr>
                                                <td><code>pattern</code></td>
                                                <td><code>r.e.</code></td>
                                                <td>The typed text will be matched against given regular expression, before submit.</td>
                                            </tr>
                                            <tr>
                                                <td><code>msg</code></td>
                                                <td><code>"some msg"</code></td>
                                                <td>An error message that is displayed in case pattern is not matched. Set HTML <code>"data-errorMsg"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>maxLength</code></td>
                                                <td><code>integer</code></td>
                                                <td>Set HTML <code>"maxlength"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>datepicker</code></td>
                                                <td><code>{}</code></td>
                                                <td>Enable a datepicker component. jQuery-UI plugin must be linked. More datepicker configuration options may be passed within the object.</td>
                                            </tr>
                                            <tr>
                                                <td><code>datetimepicker</code></td>
                                                <td><code>{}</code></td>
                                                <td>Enable a datetimepicker component. jQuery datetimepicker plugin must be linked. More datetimepicker configuration options may be passed within the object.</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="py-4"><strong>Options for columns with type <code>"select"</code>:</strong></td>
                                            </tr>
                                            <tr>
                                                <td><code>options</code></td>
                                                <td><code>["a", "b", "c"]</code>  or <code>{"a":"A", "b":"B", "c":"C"}</code></td>
                                                <td>The options that shall be presented.</td>
                                            </tr>
                                            <tr>
                                                <td><code>select2</code></td>
                                                <td><code>{}</code></td>
                                                <td>Enable a select2 component. Select2 jQuery plugin must be linked. More select2 configuration options may be passed within the object.</td>
                                            </tr>
                                            <tr>
                                                <td><code>multiple</code></td>
                                                <td><code>true | false</code></td>
                                                <td>Set HTML <code>"multiple"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="py-4"><strong>Options for columns with type <code>"textarea"</code>:</strong></td>
                                            </tr>
                                            <tr>
                                                <td><code>rows</code></td>
                                                <td><code>integer</code></td>
                                                <td>Set HTML <code>"rows"</code> attribute.</td>
                                            </tr>
                                            <tr>
                                                <td><code>cols</code></td>
                                                <td><code>integer</code></td>
                                                <td>Set HTML <code>"cols"</code> attribute.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<partial name="PartialViews/_HistoricoPaciente" />
<partial name="PartialViews/_Prontuario" />

@section ScriptsBlock {


    <partial name="PartialViews/_ScriptDataTables" />
    @* .dt-basic-srmartadmin *@

}
