
@model IEnumerable<Cooperchip.ITDeveloper.Application.ViewModels.PacienteViewModel>


@{ ViewData["Title"] = "Listagem";
   ViewData["PageName"] = "lista-de-paciente";
   ViewData["Category1"] = "Paciente";
   //ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Listagem de Pacientes: <span class='fw-300'>Export</span> <sup class='badge badge-primary fw-500'>ADDON</sup>";

   ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Listagem de Pacientes";

   ViewData["PageDescription"] = "Exporte os dados para PDF, Excel e CSV sem qualquer complicação!"; }

@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
}

<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    <p>
                        <a asp-controller="Paciente" asp-action="Create" class="btn btn-outline-primary">Novo Paciente</a>
                    </p>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 dt-basic-srmartadmin">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.DataInternacao)
                                </th>
                                <th>
                                    Alegação do Paciente
                                </th>

                                <th>
                                    Origem do Paciente
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sexo)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)
                                </th>
                                <th class="text-center">
                                    Ação
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataNascimento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DataInternacao)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Motivo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDeCliente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sexo)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.EstadoPaciente.Descricao)
                                    </td>

                                    <td class="text-center">

                                        <a asp-controller="Paciente" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-default" data-toggle="tooltip" data-placement="bottom" title="Detalhes da Paciente" data-original-title="Detalhes da Paciente"><i class="fa fa-eye"></i></a>

                                        <a asp-controller="Paciente" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" title="Editar Paciente" data-original-title="Editar Paciente">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <a asp-action="ReportForEstadoPaciente" asp-route-id="@item.EstadoPacienteId" class="btn btn-outline-success" data-toggle="tooltip" data-placement="bottom" title="Reportar Estado Paciente" data-original-title="Reportar Estado Paciente"><i class="fa fa-file"></i> </a>

                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @*<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataNascimento)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.DataInternacao)
                                    </th>

                                    <th>
                                        Alegacao ao Atendente
                                    </th>

                                    <th>
                                        Origem do Paciente
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Sexo)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.EstadoPaciente.Descricao)
                                    </th>
                                    <th class="text-center">
                                        Ação
                                    </th>
                                </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsBlock {


    <partial name="PartialViews/_ScriptDataTables" />
    @* .dt-basic-srmartadmin *@

}
