@using Cooperchip.ITDeveloper.Mvc.Extensions.ExtensionsMethods
@model IEnumerable<Cooperchip.ITDeveloper.Domain.Entities.ChamadaMedica>
@*<vc:cabecalho titulo="Medical Management-Sys / Módulo Pacientes"
    subtitulo="Administração de Pacientes"></vc:cabecalho>*@


@{ ViewData["Title"] = "Listagem";
    ViewData["PageName"] = "chamadamedica_index";
    ViewData["Category1"] = "Chamada Medica";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-table'></i> Listagem de Chamadas Médicas";
    ViewData["PageDescription"] = ""; }
@section HeadBlock {
    <link rel="stylesheet" media="screen, print" href="~/css/datagrid/datatables/datatables.bundle.css">
    <link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
}
<div class="row">
    <div class="col-xl-12">
        <div id="panel-1" class="panel">
            <div class="panel-hdr">
                <h2>
                    @*IMPORTANTE <span class="fw-300"><i> à direita, controle o painel</i></span>*@
                    <p>
                        <a asp-controller="ChamadaMedica" asp-action="Create" class="btn btn-outline-primary">Novo Chamada</a>
                    </p>
                </h2>
                <div class="panel-toolbar">
                    <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                    <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                </div>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100 dt-basic-srmartadmin">
                        <thead class="bg-primary-600">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Mensagem)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DataChamada)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Medico)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Leito)
                                </th>

                                <th class="text-center">Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                //var dataNascPtBr = item.DataNascimento.ToBrazilianDate();
                                var dateTimeNascPtBr = item.DataChamada.ToBrazianDateTime();
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mensagem)
                                    </td>
                                    <td>
                                        @dateTimeNascPtBr
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Medico)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Leito)
                                    </td>

                                    <td class="text-center">

                                        <button class="btn btn-outline-default" data-id="@item.ChamadaMedicoId" data-toggle="tooltip" data-placement="bottom" title="Detalhes da Chamada" data-original-title="Detalhes da Chamada"><i class="fa fa-eye"></i></button>


                                        <a asp-action="EditModal" class="btn btn-outline-info" data-modal="" asp-route-id="@item.ChamadaMedicoId" data-toggle="tooltip" data-placement="bottom" title="Editar Chamdada" data-original-title="Editar Chamdada"><i class="fa fa-edit"></i></a>


                                        <button class="btn btn-outline-danger" data-id="@item.ChamadaMedicoId" data-toggle="tooltip" data-placement="bottom" title="Atendender Chamdada" data-original-title="Atendender Chamdada"><i class="fa fa-check"></i></button>

                                    </td>

                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            @*<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Mensagem)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DataChamada)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Medico)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Leito)
                                    </th>

                                    <th class="text-center">Ação</th>
                                </tr>*@
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section ScriptsBlock {

    <partial name="PartialViews/_ScriptDataTables" />
    @* .dt-basic-srmartadmin *@

}

